*.glg
*.glo
*.glsdefs
*.ist
*.bcf
*.run.xml
*.tex.bak
*.pptx#
*.tex
*.aux
*.lof
*.log
*.out
*.synctex
*.txt
*.toc
*.synctex.gz
*.dvi
*.out.ps
*.bbl
*.blg
*.pdf.bbl
*.pdf.blg
*.tex.bbl
*.tex.blg
*.bib.bbl
*.bib.bgl
*.tex.swp
*.DS_Store

